openapi: 3.0.0
info:
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  description: |
    The PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite
    HTTP/REST library for your programming language to use PeerTube. The spec API is fully compatible with
    [openapi-generator](https://github.com/OpenAPITools/openapi-generator/wiki/API-client-generator-HOWTO)
    which generates a client SDK in the language of your choice - we generate some client SDKs automatically:

    - [Python](https://framagit.org/framasoft/peertube/clients/python)
    - [Go](https://framagit.org/framasoft/peertube/clients/go)
    - [Kotlin](https://framagit.org/framasoft/peertube/clients/kotlin)

    See the [REST API quick start](https://docs.joinpeertube.org/api/rest-getting-started) for a few
    examples of using the PeerTube API.

    # Authentication

    When you sign up for an account on a PeerTube instance, you are given the possibility
    to generate sessions on it, and authenticate there using an access token. Only __one
    access token can currently be used at a time__.

    ## Roles

    Accounts are given permissions based on their role. There are three roles on
    PeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/admin/managing-users#roles) for a detail of their permissions.

    # Errors

    The API uses standard HTTP status codes to indicate the success or failure
    of the API call, completed by a [RFC7807-compliant](https://tools.ietf.org/html/rfc7807) response body.

    ```
    HTTP 1.1 404 Not Found
    Content-Type: application/problem+json; charset=utf-8

    {
      "detail": "Video not found",
      "docs": "https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo",
      "status": 404,
      "title": "Not Found",
      "type": "about:blank"
    }
    ```

    We provide error `type` (following RFC7807) and `code` (internal PeerTube code) values for [a growing number of cases](https://github.com/Chocobozzz/PeerTube/blob/develop/packages/models/src/server/server-error-code.enum.ts),
    but it is still optional. Types are used to disambiguate errors that bear the same status code
    and are non-obvious:

    ```
    HTTP 1.1 403 Forbidden
    Content-Type: application/problem+json; charset=utf-8

    {
      "detail": "Cannot get this video regarding follow constraints",
      "docs": "https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo",
      "status": 403,
      "title": "Forbidden",
      "type": "https://docs.joinpeertube.org/api-rest-reference.html#section/Errors/does_not_respect_follow_constraints"
    }
    ```

    Here a 403 error could otherwise mean that the video is private or blocklisted.

    ### Validation errors

    Each parameter is evaluated on its own against a set of rules before the route validator
    proceeds with potential testing involving parameter combinations. Errors coming from validation
    errors appear earlier and benefit from a more detailed error description:

    ```
    HTTP 1.1 400 Bad Request
    Content-Type: application/problem+json; charset=utf-8

    {
      "detail": "Incorrect request parameters: id",
      "docs": "https://docs.joinpeertube.org/api-rest-reference.html#operation/getVideo",
      "instance": "/api/v1/videos/9c9de5e8-0a1e-484a-b099-e80766180",
      "invalid-params": {
        "id": {
          "location": "params",
          "msg": "Invalid value",
          "param": "id",
          "value": "9c9de5e8-0a1e-484a-b099-e80766180"
        }
      },
      "status": 400,
      "title": "Bad Request",
      "type": "about:blank"
    }
    ```

    Where `id` is the name of the field concerned by the error, within the route definition.
    `invalid-params.<field>.location` can be either 'params', 'body', 'header', 'query' or 'cookies', and
    `invalid-params.<field>.value` reports the value that didn't pass validation whose `invalid-params.<field>.msg`
    is about.

    ### Deprecated error fields

    Some fields could be included with previous versions. They are still included but their use is deprecated:
    - `error`: superseded by `detail`

    # Rate limits

    We are rate-limiting all endpoints of PeerTube's API. Custom values can be set by administrators:

    | Endpoint (prefix: `/api/v1`) | Calls         | Time frame   |
    |------------------------------|---------------|--------------|
    | `/*`                         | 50            | 10 seconds   |
    | `POST /users/token`          | 15            | 5 minutes    |
    | `POST /users/register`       | 2<sup>*</sup> | 5 minutes    |
    | `POST /users/ask-send-verify-email` | 3      | 5 minutes    |

    Depending on the endpoint, <sup>*</sup>failed requests are not taken into account. A service
    limit is announced by a `429 Too Many Requests` status code.

    You can get details about the current state of your rate limit by reading the
    following headers:

    | Header                  | Description                                                |
    |-------------------------|------------------------------------------------------------|
    | `X-RateLimit-Limit`     | Number of max requests allowed in the current time period  |
    | `X-RateLimit-Remaining` | Number of remaining requests in the current time period    |
    | `X-RateLimit-Reset`     | Timestamp of end of current time period as UNIX timestamp  |
    | `Retry-After`           | Seconds to delay after the first `429` is received         |

    # CORS

    This API features [Cross-Origin Resource Sharing (CORS)](https://fetch.spec.whatwg.org/),
    allowing cross-domain communication from the browser for some routes:

    | Endpoint                    |
    |------------------------- ---|
    | `/api/*`                    |
    | `/download/*`               |
    | `/lazy-static/*`            |
    | `/.well-known/webfinger`    |

    In addition, all routes serving ActivityPub are CORS-enabled for all origins.
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  title: PeerTube
  version: 6.2.0
  x-logo:
    url: https://joinpeertube.org/img/brand.png
    altText: PeerTube Project Homepage
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
servers:
- description: Live Test Server (live data - latest nightly version)
  url: https://peertube2.cpy.re
- description: Live Test Server (live data - latest RC version)
  url: https://peertube3.cpy.re
- description: Live Test Server (live data - stable version)
  url: https://peertube.cpy.re
tags:
- description: |
    As a visitor, you can use this API to open an account (if registrations are open on
    that PeerTube instance). As an admin, you should use the dedicated [User creation
    API](#operation/addUser) instead.
  name: Register
- description: |
    Sessions deal with access tokens over time. Only __one session token can currently be used at a time__.
  name: Session
  x-displayName: Login/Logout
- description: |
    Accounts encompass remote accounts discovered across the federation, and correspond to the main Actor, along with video channels a user can create, which are also Actors.
    When a comment is posted, it is done with your Account's Actor.
  name: Accounts
- description: |
    Using some features of PeerTube require authentication, for which User provide different levels of permission as well as associated user information. Each user has a corresponding local Account for federation.
  name: Users
- description: |
    To create an archive of user data.
  name: User Exports
- description: |
    To import an archive of user data.
  name: User Imports
- description: |
    Operations related to your own User, when logged-in.
  name: My User
- description: |
    Operations related to your subscriptions to video channels, their new videos, and how to keep up to date with their latest publications!
  name: My Subscriptions
- description: |
    Operations related to your watch history.
  name: My History
- description: |
    Notifications following new videos, follows or reports. They allow you to keep track of the interactions and overall important information that concerns you. You MAY set per-notification type delivery preference, to receive the info either by mail, by in-browser notification or both.
  name: My Notifications
- description: |
    Each server exposes public information regarding supported videos and options.
  name: Config
- description: |
    Jobs are long-running tasks enqueued and processed by the instance itself. No additional worker registration is currently available.
  name: Job
- description: |
    Managing servers which the instance interacts with is crucial to the concept of federation in PeerTube and external video indexation. The PeerTube server then deals with inter-server ActivityPub operations and propagates information across its social graph by posting activities to actors' inbox endpoints.
  externalDocs:
    url: https://docs.joinpeertube.org/admin/following-instances#instances-follows
  name: Instance Follows
- description: |
    Redundancy is part of the inter-server solidarity that PeerTube fosters. Manage the list of instances you wish to help by seeding their videos according to the policy of video selection of your choice. Note that you have a similar functionality to mirror individual videos, see [video mirroring](#tag/Video-Mirroring).
  externalDocs:
    url: https://docs.joinpeertube.org/admin/following-instances#instances-redundancy
  name: Instance Redundancy
- description: |
    Managing plugins installed from a local path or from NPM, or search for new ones.
  externalDocs:
    url: https://docs.joinpeertube.org/api/plugins
  name: Plugins
- description: |
    Abuses deal with reports of local or remote videos/comments/accounts alike.
  name: Abuses
- description: |
    Operations dealing with listing, uploading, fetching or modifying videos.
  name: Video
- description: |
    Operations dealing with adding video or audio. PeerTube supports two upload modes, and three import modes.

    ### Upload

    - [_legacy_](#operation/uploadLegacy), where the video file is sent in a single request
    - [_resumable_](#operation/uploadResumableInit), where the video file is sent in chunks

    You can upload videos more reliably by using the resumable variant. Its protocol lets
    you resume an upload operation after a network interruption or other transmission failure,
    saving time and bandwidth in the event of network failures.

    Favor using resumable uploads in any of the following cases:
    - You are transferring large files
    - The likelihood of a network interruption is high
    - Uploads are originating from a device with a low-bandwidth or unstable Internet connection,
      such as a mobile device

    ### Import

    - _URL_-based: where the URL points to any service supported by [youtube-dl](https://ytdl-org.github.io/youtube-dl/)
    - _magnet_-based: where the URI resolves to a BitTorrent resource containing a single supported video file
    - _torrent_-based: where the metainfo file resolves to a BitTorrent resource containing a single supported video file

    The import function is practical when the desired video/audio is available online. It makes PeerTube
    download it for you, saving you as much bandwidth and avoiding any instability or limitation your network might have.
  name: Video Upload
- description: "Operations dealing with listing, adding and removing video imports."
  name: Video Imports
- description: Operations dealing with synchronizing PeerTube user's channel with
    channels of other platforms
  name: Channels Sync
- description: "Operations dealing with listing, adding and removing closed captions\
    \ of a video."
  name: Video Captions
- description: Operations dealing with managing chapters of a video.
  name: Video Chapters
- description: "Operations dealing with the creation, modification and listing of\
    \ videos within a channel."
  name: Video Channels
- description: |
    Operations dealing with comments to a video. Comments are organized in threads: adding a comment in response to the video starts a thread, adding a reply to a comment adds it to its root comment thread.
  name: Video Comments
- description: Operations dealing with blocking videos (removing them from view and
    preventing interactions).
  name: Video Blocks
- description: "Automatic tags set on objects (like comments or videos) by specific\
    \ rules (external link, watched words, etc.)"
  name: Automatic Tags
- description: Manage list of watched words to detect patterns on objects (like comments
    of videos)
  name: Watched Words
- description: Like/dislike a video.
  name: Video Rates
- description: Operations dealing with playlists of videos. Playlists are bound to
    users and/or channels.
  name: Video Playlists
- description: Operations on video files
  name: Video Files
- description: Video transcoding related operations
  name: Video Transcoding
- description: Video statistics
  name: Video Stats
- description: Server syndication feeds of videos
  name: Video Feeds
- description: |
    The search helps to find _videos_ or _channels_ from within the instance and beyond.
    Videos from other instances federated by the instance (that is, instances
    followed by the instance) can be found via keywords and other criteria of
    the advanced search.

    Administrators can also enable the use of a remote search system, indexing
    videos and channels not could be not federated by the instance.
  name: Search
- description: Get and update the custom homepage
  name: Homepage
- description: |
    PeerTube instances can mirror videos from one another, and help distribute some videos.

    For importing videos as your own, refer to [video imports](#operation/importVideo).
  name: Video Mirroring
- description: |
    Statistics
  name: Stats
- description: |
    Manage runner registration token
  name: Runner Registration Token
- description: Operation on video passwords
  name: Video Passwords
paths:
  /static/web-videos/{filename}:
    get:
      description: '**PeerTube >= 6.0**'
      parameters:
      - description: Filename
        explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: successful operation
        "404":
          description: not found
      summary: Get public Web Video file
      tags:
      - Static Video Files
  /static/web-videos/private/{filename}:
    get:
      description: '**PeerTube >= 6.0**'
      parameters:
      - description: Filename
        explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      - description: "Video file token [generated](#operation/requestVideoToken) by\
          \ PeerTube so you don't need to provide an OAuth token in the request header."
        explode: true
        in: query
        name: videoFileToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: successful operation
        "403":
          description: invalid auth
        "404":
          description: not found
      security:
      - OAuth2: []
      summary: Get private Web Video file
      tags:
      - Static Video Files
  /static/streaming-playlists/hls/{filename}:
    get:
      parameters:
      - description: Filename
        explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: successful operation
        "403":
          description: invalid auth
        "404":
          description: not found
      security:
      - OAuth2: []
      summary: Get public HLS video file
      tags:
      - Static Video Files
  /static/streaming-playlists/hls/private/{filename}:
    get:
      parameters:
      - description: Filename
        explode: false
        in: path
        name: filename
        required: true
        schema:
          type: string
        style: simple
      - description: "Video file token [generated](#operation/requestVideoToken) by\
          \ PeerTube so you don't need to provide an OAuth token in the request header."
        explode: true
        in: query
        name: videoFileToken
        required: false
        schema:
          type: string
        style: form
      - description: Ask the server to reinject videoFileToken in URLs in m3u8 playlist
        explode: true
        in: query
        name: reinjectVideoFileToken
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          description: successful operation
        "403":
          description: invalid auth
        "404":
          description: not found
      security:
      - OAuth2: []
      summary: Get private HLS video file
      tags:
      - Static Video Files
  /feeds/video-comments.{format}:
    get:
      operationId: getSyndicatedComments
      parameters:
      - description: "format expected (we focus on making `rss` the most featureful\
          \ ; it serves [Media RSS](https://www.rssboard.org/media-rss))"
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - xml
          - rss
          - rss2
          - atom
          - atom1
          - json
          - json1
          type: string
        style: simple
      - description: limit listing comments to a specific video
        explode: true
        in: query
        name: videoId
        required: false
        schema:
          type: string
        style: form
      - description: limit listing comments to videos of a specific account
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: limit listing comments to videos of a specific account
        explode: true
        in: query
        name: accountName
        required: false
        schema:
          type: string
        style: form
      - description: limit listing comments to videos of a specific video channel
        explode: true
        in: query
        name: videoChannelId
        required: false
        schema:
          type: string
        style: form
      - description: limit listing comments to videos of a specific video channel
        explode: true
        in: query
        name: videoChannelName
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.xml?filter=local
              schema:
                $ref: '#/components/schemas/VideoCommentsForXML'
            application/rss+xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.rss?filter=local
              schema:
                $ref: '#/components/schemas/VideoCommentsForXML'
            text/xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.xml?filter=local
              schema:
                $ref: '#/components/schemas/VideoCommentsForXML'
            application/atom+xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.atom?filter=local
              schema:
                $ref: '#/components/schemas/VideoCommentsForXML'
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/video-comments.json?filter=local
              schema:
                type: object
          description: successful operation
          headers:
            Cache-Control:
              explode: false
              schema:
                default: max-age=900
                type: string
              style: simple
        "400":
          description: |
            Arises when:
              - videoId filter is mixed with a channel filter
          x-summary: field inconsistencies
        "404":
          description: "video, video channel or account not found"
        "406":
          description: accept header unsupported
      summary: Comments on videos feeds
      tags:
      - Video Feeds
  /feeds/videos.{format}:
    get:
      operationId: getSyndicatedVideos
      parameters:
      - description: "format expected (we focus on making `rss` the most featureful\
          \ ; it serves [Media RSS](https://www.rssboard.org/media-rss))"
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - xml
          - rss
          - rss2
          - atom
          - atom1
          - json
          - json1
          type: string
        style: simple
      - description: limit listing to a specific account
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          type: string
        style: form
      - description: limit listing to a specific account
        explode: true
        in: query
        name: accountName
        required: false
        schema:
          type: string
        style: form
      - description: limit listing to a specific video channel
        explode: true
        in: query
        name: videoChannelId
        required: false
        schema:
          type: string
        style: form
      - description: limit listing to a specific video channel
        explode: true
        in: query
        name: videoChannelName
        required: false
        schema:
          type: string
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      - description: "whether to include nsfw videos, if any"
        explode: true
        in: query
        name: nsfw
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: '**PeerTube >= 4.0** Display only local or remote objects'
        explode: true
        in: query
        name: isLocal
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          **PeerTube >= 4.0** Include additional videos in results (can be combined using bitwise or operator)
          - `0` NONE
          - `1` NOT_PUBLISHED_STATE
          - `2` BLACKLISTED
          - `4` BLOCKED_OWNER
          - `8` FILES
          - `16` CAPTIONS
          - `32` VIDEO SOURCE
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - 0
          - 1
          - 2
          - 4
          - 8
          - 16
          - 32
          type: integer
        style: form
      - description: '**PeerTube >= 4.0** Display only videos in this specific privacy/privacies'
        explode: true
        in: query
        name: privacyOneOf
        required: false
        schema:
          $ref: '#/components/schemas/VideoPrivacySet'
        style: form
      - description: '**PeerTube >= 4.0** Display only videos that have HLS files'
        explode: true
        in: query
        name: hasHLSFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: '**PeerTube >= 6.0** Display only videos that have Web Video
          files'
        explode: true
        in: query
        name: hasWebVideoFiles
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.xml?filter=local
              schema:
                $ref: '#/components/schemas/VideosForXML'
            application/rss+xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.rss?filter=local
              schema:
                $ref: '#/components/schemas/VideosForXML'
            text/xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.xml?filter=local
              schema:
                $ref: '#/components/schemas/VideosForXML'
            application/atom+xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.atom?filter=local
              schema:
                $ref: '#/components/schemas/VideosForXML'
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.json?filter=local
              schema:
                type: object
          description: successful operation
          headers:
            Cache-Control:
              explode: false
              schema:
                default: max-age=900
                type: string
              style: simple
        "404":
          description: video channel or account not found
        "406":
          description: accept header unsupported
      summary: Common videos feeds
      tags:
      - Video Feeds
  /feeds/subscriptions.{format}:
    get:
      operationId: getSyndicatedSubscriptionVideos
      parameters:
      - description: "format expected (we focus on making `rss` the most featureful\
          \ ; it serves [Media RSS](https://www.rssboard.org/media-rss))"
        explode: false
        in: path
        name: format
        required: true
        schema:
          enum:
          - xml
          - rss
          - rss2
          - atom
          - atom1
          - json
          - json1
          type: string
        style: simple
      - description: limit listing to a specific account
        explode: true
        in: query
        name: accountId
        required: true
        schema:
          type: string
        style: form
      - description: private token allowing access
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      - description: "whether to include nsfw videos, if any"
        explode: true
        in: query
        name: nsfw
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: '**PeerTube >= 4.0** Display only local or remote objects'
        explode: true
        in: query
        name: isLocal
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          **PeerTube >= 4.0** Include additional videos in results (can be combined using bitwise or operator)
          - `0` NONE
          - `1` NOT_PUBLISHED_STATE
          - `2` BLACKLISTED
          - `4` BLOCKED_OWNER
          - `8` FILES
          - `16` CAPTIONS
          - `32` VIDEO SOURCE
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - 0
          - 1
          - 2
          - 4
          - 8
          - 16
          - 32
          type: integer
        style: form
      - description: '**PeerTube >= 4.0** Display only videos in this specific privacy/privacies'
        explode: true
        in: query
        name: privacyOneOf
        required: false
        schema:
          $ref: '#/components/schemas/VideoPrivacySet'
        style: form
      - description: '**PeerTube >= 4.0** Display only videos that have HLS files'
        explode: true
        in: query
        name: hasHLSFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: '**PeerTube >= 6.0** Display only videos that have Web Video
          files'
        explode: true
        in: query
        name: hasWebVideoFiles
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/VideosForXML'
            application/rss+xml:
              schema:
                $ref: '#/components/schemas/VideosForXML'
            text/xml:
              schema:
                $ref: '#/components/schemas/VideosForXML'
            application/atom+xml:
              schema:
                $ref: '#/components/schemas/VideosForXML'
            application/json:
              schema:
                type: object
          description: successful operation
          headers:
            Cache-Control:
              explode: false
              schema:
                default: max-age=900
                type: string
              style: simple
        "406":
          description: accept header unsupported
      summary: Videos of subscriptions feeds
      tags:
      - Video Feeds
  /feeds/podcast/videos.xml:
    get:
      operationId: getVideosPodcastFeed
      parameters:
      - description: Limit listing to a specific video channel
        explode: true
        in: query
        name: videoChannelId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: successful operation
          headers:
            Cache-Control:
              explode: false
              schema:
                default: max-age=900
                type: string
              style: simple
        "404":
          description: video channel not found
      summary: Videos podcast feed
      tags:
      - Video Feeds
  /api/v1/accounts/{name}:
    get:
      operationId: getAccount
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: successful operation
        "404":
          description: account not found
      summary: Get an account
      tags:
      - Accounts
  /api/v1/accounts/{name}/videos:
    get:
      operationId: getAccountVideos
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      - description: "category id of the video (see [/videos/categories](#operation/getCategories))"
        explode: true
        in: query
        name: categoryOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_categoryOneOf_parameter'
        style: form
      - description: whether or not the video is a live
        explode: true
        in: query
        name: isLive
        required: false
        schema:
          type: boolean
        style: form
      - description: tag(s) of the video
        explode: true
        in: query
        name: tagsOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsOneOf_parameter'
        style: form
      - description: "tag(s) of the video, where all should be present in the video"
        explode: true
        in: query
        name: tagsAllOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsAllOf_parameter'
        style: form
      - description: "licence id of the video (see [/videos/licences](#operation/getLicences))"
        explode: true
        in: query
        name: licenceOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_licenceOneOf_parameter'
        style: form
      - description: "language id of the video (see [/videos/languages](#operation/getLanguages)).\
          \ Use `_unknown` to filter on videos that don't have a video language"
        explode: true
        in: query
        name: languageOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_languageOneOf_parameter'
        style: form
      - description: '**PeerTube >= 6.2** **Admins and moderators only** filter on
          videos that contain one of these automatic tags'
        explode: true
        in: query
        name: autoTagOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsAllOf_parameter'
        style: form
      - description: "whether to include nsfw videos, if any"
        explode: true
        in: query
        name: nsfw
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: '**PeerTube >= 4.0** Display only local or remote objects'
        explode: true
        in: query
        name: isLocal
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          **PeerTube >= 4.0** Include additional videos in results (can be combined using bitwise or operator)
          - `0` NONE
          - `1` NOT_PUBLISHED_STATE
          - `2` BLACKLISTED
          - `4` BLOCKED_OWNER
          - `8` FILES
          - `16` CAPTIONS
          - `32` VIDEO SOURCE
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - 0
          - 1
          - 2
          - 4
          - 8
          - 16
          - 32
          type: integer
        style: form
      - description: '**PeerTube >= 4.0** Display only videos in this specific privacy/privacies'
        explode: true
        in: query
        name: privacyOneOf
        required: false
        schema:
          $ref: '#/components/schemas/VideoPrivacySet'
        style: form
      - description: '**PeerTube >= 4.0** Display only videos that have HLS files'
        explode: true
        in: query
        name: hasHLSFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: '**PeerTube >= 6.0** Display only videos that have Web Video
          files'
        explode: true
        in: query
        name: hasWebVideoFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: if you don't need the `total` in the response
        explode: true
        in: query
        name: skipCount
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Sort videos by criteria (prefixing with `-` means `DESC` order):
              * `hot` - Adaptation of Reddit "hot" algorithm taking into account video views, likes, dislikes and comments and publication date
              * `best` - Same than `hot`, but also takes into account user video history
              * `trending` - Sort videos by recent views ("recent" is defined by the admin)
              * `views` - Sort videos using their `views` counter
              * `publishedAt` - Sort by video publication date (when it became publicly available)
          enum:
          - name
          - -duration
          - -createdAt
          - -publishedAt
          - -views
          - -likes
          - -trending
          - -hot
          - -best
          type: string
        style: form
      - description: Whether or not to exclude videos that are in the user's video
          history
        explode: true
        in: query
        name: excludeAlreadyWatched
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
          description: successful operation
      summary: List videos of an account
      tags:
      - Accounts
      - Video
      x-codeSamples:
      - lang: JavaScript
        source: |
          fetch('https://peertube2.cpy.re/api/v1/accounts/{name}/videos')
          .then(function(response) {
            return response.json()
          }).then(function(data) {
            console.log(data)
          })
      - lang: Shell
        source: |
          ## DEPENDENCIES: jq
          curl -s https://peertube2.cpy.re/api/v1/accounts/{name}/videos | jq
      - lang: Ruby
        source: |
          require 'net/http'
          require 'json'

          uri = URI.parse("https://peertube2.cpy.re/api/v1/accounts/{name}/videos")

          http = Net::HTTP.new(uri.host, uri.port)
          http.use_ssl = true

          response = http.get(uri.request_uri)

          puts JSON.parse(response.read_body)
      - lang: Python
        source: |
          import requests

          r = requests.get("https://peertube2.cpy.re/api/v1//accounts/{name}/videos")
          json = r.json()

          print(json)
  /api/v1/accounts/{name}/followers:
    get:
      operationId: getAccountFollowers
      parameters:
      - description: The username or handle of the account
        explode: false
        in: path
        name: name
        required: true
        schema:
          example: chocobozzz | chocobozzz@example.org
          type: string
        style: simple
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort followers by criteria
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - createdAt
          type: string
        style: form
      - description: "Plain text search, applied to various parts of the model depending\
          \ on endpoint"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountFollowers_200_response'
          description: successful operation
      security:
      - OAuth2: []
      summary: List followers of an account
      tags:
      - Accounts
  /api/v1/accounts:
    get:
      operationId: getAccounts
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccounts_200_response'
          description: successful operation
      summary: List accounts
      tags:
      - Accounts
  /api/v1/config:
    get:
      operationId: getConfig
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/config
              schema:
                $ref: '#/components/schemas/ServerConfig'
          description: successful operation
      summary: Get instance public configuration
      tags:
      - Config
  /api/v1/config/about:
    get:
      operationId: getAbout
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/config/about
              schema:
                $ref: '#/components/schemas/ServerConfigAbout'
          description: successful operation
      summary: Get instance "About" information
      tags:
      - Config
  /api/v1/config/custom:
    delete:
      operationId: delCustomConfig
      responses:
        "200":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Delete instance runtime configuration
      tags:
      - Config
    get:
      operationId: getCustomConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfigCustom'
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Get instance runtime configuration
      tags:
      - Config
    put:
      operationId: putCustomConfig
      responses:
        "200":
          description: successful operation
        "400":
          description: |
            Arises when:
              - the emailer is disabled and the instance is open to registrations
              - web videos and hls are disabled with transcoding enabled - you need at least one enabled
          x-summary: field inconsistencies
      security:
      - OAuth2:
        - admin
      summary: Set instance runtime configuration
      tags:
      - Config
  /api/v1/config/instance-banner/pick:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              bannerfile:
                contentType: "image/png, image/jpeg"
                style: form
            schema:
              $ref: '#/components/schemas/_api_v1_config_instance_banner_pick_post_request'
      responses:
        "204":
          description: successful operation
        "413":
          description: image file too large
          headers:
            X-File-Maximum-Size:
              description: Maximum file size for the banner
              explode: false
              schema:
                format: Nginx size
                type: string
              style: simple
      security:
      - OAuth2:
        - admin
      summary: Update instance banner
      tags:
      - Config
  /api/v1/config/instance-banner:
    delete:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Delete instance banner
      tags:
      - Config
  /api/v1/config/instance-avatar/pick:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              avatarfile:
                contentType: "image/png, image/jpeg"
                style: form
            schema:
              $ref: '#/components/schemas/_api_v1_config_instance_avatar_pick_post_request'
      responses:
        "204":
          description: successful operation
        "413":
          description: image file too large
          headers:
            X-File-Maximum-Size:
              description: Maximum file size for the avatar
              explode: false
              schema:
                format: Nginx size
                type: string
              style: simple
      security:
      - OAuth2:
        - admin
      summary: Update instance avatar
      tags:
      - Config
  /api/v1/config/instance-avatar:
    delete:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Delete instance avatar
      tags:
      - Config
  /api/v1/custom-pages/homepage/instance:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomHomepage'
          description: successful operation
        "404":
          description: No homepage set
      summary: Get instance custom homepage
      tags:
      - Homepage
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_custom_pages_homepage_instance_put_request'
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Set instance custom homepage
      tags:
      - Homepage
  /api/v1/jobs/pause:
    post:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Pause job queue
      tags:
      - Job
  /api/v1/jobs/resume:
    post:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Resume job queue
      tags:
      - Job
  /api/v1/jobs/{state}:
    get:
      operationId: getJobs
      parameters:
      - description: The state of the job ('' for for no filter)
        explode: false
        in: path
        name: state
        required: true
        schema:
          enum:
          - ""
          - active
          - completed
          - failed
          - waiting
          - delayed
          type: string
        style: simple
      - description: job type
        explode: true
        in: query
        name: jobType
        required: false
        schema:
          enum:
          - activitypub-follow
          - activitypub-http-broadcast
          - activitypub-http-fetcher
          - activitypub-http-unicast
          - email
          - video-transcoding
          - video-file-import
          - video-import
          - videos-views-stats
          - activitypub-refresher
          - video-redundancy
          - video-live-ending
          - video-channel-import
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJobs_200_response'
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: List instance jobs
      tags:
      - Job
  /api/v1/server/followers:
    get:
      parameters:
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - pending
          - accepted
          type: string
        style: form
      - explode: true
        in: query
        name: actorType
        required: false
        schema:
          enum:
          - Person
          - Application
          - Group
          - Service
          - Organization
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountFollowers_200_response'
          description: successful operation
      summary: List instances following the server
      tags:
      - Instance Follows
  /api/v1/server/followers/{nameWithHost}:
    delete:
      parameters:
      - description: The remote actor handle to remove from your followers
        explode: false
        in: path
        name: nameWithHost
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: follower not found
      security:
      - OAuth2:
        - admin
      summary: Remove or reject a follower to your server
      tags:
      - Instance Follows
  /api/v1/server/followers/{nameWithHost}/reject:
    post:
      parameters:
      - description: The remote actor handle to remove from your followers
        explode: false
        in: path
        name: nameWithHost
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: follower not found
      security:
      - OAuth2:
        - admin
      summary: Reject a pending follower to your server
      tags:
      - Instance Follows
  /api/v1/server/followers/{nameWithHost}/accept:
    post:
      parameters:
      - description: The remote actor handle to remove from your followers
        explode: false
        in: path
        name: nameWithHost
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: follower not found
      security:
      - OAuth2:
        - admin
      summary: Accept a pending follower to your server
      tags:
      - Instance Follows
  /api/v1/server/following:
    get:
      parameters:
      - explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - pending
          - accepted
          type: string
        style: form
      - explode: true
        in: query
        name: actorType
        required: false
        schema:
          enum:
          - Person
          - Application
          - Group
          - Service
          - Organization
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountFollowers_200_response'
          description: successful operation
      summary: List instances followed by the server
      tags:
      - Instance Follows
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_server_following_post_request'
      responses:
        "204":
          description: successful operation
        "500":
          description: cannot follow a non-HTTPS server
      security:
      - OAuth2:
        - admin
      summary: "Follow a list of actors (PeerTube instance, channel or account)"
      tags:
      - Instance Follows
  /api/v1/server/following/{hostOrHandle}:
    delete:
      parameters:
      - description: The hostOrHandle to unfollow
        explode: false
        in: path
        name: hostOrHandle
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "404":
          description: host or handle not found
      security:
      - OAuth2:
        - admin
      summary: "Unfollow an actor (PeerTube instance, channel or account)"
      tags:
      - Instance Follows
  /api/v1/users:
    get:
      operationId: getUsers
      parameters:
      - description: Plain text search that will match with user usernames or emails
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Filter results down to (un)banned users
        explode: true
        in: query
        name: blocked
        required: false
        schema:
          type: boolean
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort users by criteria
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - -id
          - -username
          - -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: List users
      tags:
      - Users
    post:
      operationId: addUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUser'
        description: |
          If the smtp server is configured, you can leave the password empty and an email will be sent
          asking the user to set it first.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserResponse'
          description: user created
          links:
            GetUser:
              operationId: getUser
              parameters:
                id: $response.body#/user/id
            PutUser:
              operationId: putUser
              parameters:
                id: $response.body#/user/id
            DelUser:
              operationId: delUser
              parameters:
                id: $response.body#/user/id
        "403":
          description: insufficient authority to create an admin or moderator
      security:
      - OAuth2:
        - admin
      summary: Create a user
      tags:
      - Users
  /api/v1/users/{id}:
    delete:
      operationId: delUser
      parameters:
      - description: Entity id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - admin
      summary: Delete a user
      tags:
      - Users
    get:
      operationId: getUser
      parameters:
      - description: Entity id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      - description: include statistics about the user (only available as a moderator/admin)
        explode: true
        in: query
        name: withStats
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUser_200_response'
          description: |
            As an admin/moderator, you can request a response augmented with statistics about the user's
            moderation relations and videos usage, by using the `withStats` parameter.
          x-summary: successful operation
      security:
      - OAuth2: []
      summary: Get a user
      tags:
      - Users
    put:
      operationId: putUser
      parameters:
      - description: Entity id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUser'
        required: true
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Update a user
      tags:
      - Users
  /api/v1/oauth-clients/local:
    get:
      description: "You need to retrieve a client id and secret before [logging in](#operation/getOAuthToken)."
      operationId: getOAuthClient
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
          description: successful operation
          links:
            UseOAuthClientToLogin:
              operationId: getOAuthToken
              parameters:
                client_id: $response.body#/client_id
                client_secret: $response.body#/client_secret
      summary: Login prerequisite
      tags:
      - Session
      x-codeSamples:
      - lang: Shell
        source: |
          API="https://peertube2.cpy.re/api/v1"

          ## AUTH
          curl -s "$API/oauth-clients/local"
  /api/v1/users/token:
    post:
      description: "With your [client id and secret](#operation/getOAuthClient), you\
        \ can retrieve an access and refresh tokens."
      operationId: getOAuthToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/getOAuthToken_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOAuthToken_200_response'
          description: successful operation
        "400":
          description: |
            Disambiguate via `code`:
            - `invalid_client` for an unmatched `client_id`
            - `invalid_grant` for unmatched credentials
          x-summary: client or credentials are invalid
        "401":
          description: |
            Disambiguate via `code`:
            - default value for a regular authentication failure
            - `invalid_token` for an expired token
            - `missing_two_factor` if two factor header is missing
          x-summary: token expired or two factor header is missing
      summary: Login
      tags:
      - Session
      x-codeSamples:
      - lang: Shell
        source: |
          ## DEPENDENCIES: jq
          API="https://peertube2.cpy.re/api/v1"
          USERNAME="<your_username>"
          PASSWORD="<your_password>"

          ## AUTH
          client_id=$(curl -s "$API/oauth-clients/local" | jq -r ".client_id")
          client_secret=$(curl -s "$API/oauth-clients/local" | jq -r ".client_secret")
          curl -s "$API/users/token" \
            --data client_id="$client_id" \
            --data client_secret="$client_secret" \
            --data grant_type=password \
            --data username="$USERNAME" \
            --data-urlencode password="$PASSWORD" \
            | jq -r ".access_token"
  /api/v1/users/revoke-token:
    post:
      description: "Revokes your access token and its associated refresh token, destroying\
        \ your current session."
      operationId: revokeOAuthToken
      responses:
        "200":
          description: successful operation
      security:
      - OAuth2: []
      summary: Logout
      tags:
      - Session
  /api/v1/users/ask-send-verify-email:
    post:
      operationId: resendEmailToVerifyUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resendEmailToVerifyUser_request'
      responses:
        "204":
          description: successful operation
      summary: Resend user verification link
      tags:
      - Users
      - Register
  /api/v1/users/registrations/ask-send-verify-email:
    post:
      operationId: resendEmailToVerifyRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/resendEmailToVerifyRegistration_request'
      responses:
        "204":
          description: successful operation
      summary: Resend verification link to registration email
      tags:
      - Register
  /api/v1/users/{id}/verify-email:
    post:
      description: |
        Following a user registration, the new user will receive an email asking to click a link
        containing a secret.
        This endpoint can also be used to verify a new email set in the user account.
      operationId: verifyUser
      parameters:
      - description: Entity id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verifyUser_request'
      responses:
        "204":
          description: successful operation
        "403":
          description: invalid verification string
        "404":
          description: user not found
      summary: Verify a user
      tags:
      - Users
      - Register
  /api/v1/users/registrations/{registrationId}/verify-email:
    post:
      description: |
        Following a user registration request, the user will receive an email asking to click a link
        containing a secret.
      operationId: verifyRegistrationEmail
      parameters:
      - description: Registration ID
        explode: false
        in: path
        name: registrationId
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verifyRegistrationEmail_request'
      responses:
        "204":
          description: successful operation
        "403":
          description: invalid verification string
        "404":
          description: registration not found
      summary: Verify a registration email
      tags:
      - Register
  /api/v1/users/{id}/two-factor/request:
    post:
      description: Request two factor authentication for a user
      operationId: requestTwoFactor
      parameters:
      - description: Entity id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestTwoFactor_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RequestTwoFactorResponse'
                type: array
          description: successful operation
        "403":
          description: invalid password
        "404":
          description: user not found
      security:
      - OAuth2: []
      summary: Request two factor auth
      tags:
      - Users
  /api/v1/users/{id}/two-factor/confirm-request:
    post:
      description: Confirm a two factor authentication request
      operationId: confirmTwoFactorRequest
      parameters:
      - description: Entity id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/confirmTwoFactorRequest_request'
      responses:
        "204":
          description: successful operation
        "403":
          description: invalid request token or OTP token
        "404":
          description: user not found
      security:
      - OAuth2: []
      summary: Confirm two factor auth
      tags:
      - Users
  /api/v1/users/{id}/two-factor/disable:
    post:
      description: Disable two factor authentication of a user
      operationId: disableTwoFactor
      parameters:
      - description: Entity id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestTwoFactor_request'
      responses:
        "204":
          description: successful operation
        "403":
          description: invalid password
        "404":
          description: user not found
      security:
      - OAuth2: []
      summary: Disable two factor auth
      tags:
      - Users
  /api/v1/users/{userId}/imports/import-resumable:
    delete:
      description: "**PeerTube >= 6.1** Uses [a resumable protocol](https://github.com/kukhariev/node-uploadx/blob/master/proto.md)\
        \ to cancel the resumable user import"
      operationId: userImportResumableCancel
      parameters:
      - description: |
          Created session id to proceed with. If you didn't send chunks in the last hour, it is
          not valid anymore and you need to initialize a new upload.
        explode: true
        in: query
        name: upload_id
        required: true
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: Content-Length
        required: true
        schema:
          example: 0
          type: number
        style: simple
      responses:
        "204":
          description: import cancelled
          headers:
            Content-Length:
              explode: false
              schema:
                example: 0
                type: number
              style: simple
      security:
      - OAuth2: []
      summary: Cancel the resumable user import
      tags:
      - User Imports
    post:
      description: "**PeerTube >= 6.1** Uses [a resumable protocol](https://github.com/kukhariev/node-uploadx/blob/master/proto.md)\
        \ to initialize the import of the archive"
      operationId: userImportResumableInit
      parameters:
      - description: Number of bytes that will be uploaded in subsequent requests.
          Set this value to the size of the file you are uploading.
        explode: false
        in: header
        name: X-Upload-Content-Length
        required: true
        schema:
          example: 2469036
          type: number
        style: simple
      - description: "MIME type of the file that you are uploading. Depending on your\
          \ instance settings, acceptable values might vary."
        explode: false
        in: header
        name: X-Upload-Content-Type
        required: true
        schema:
          example: video/mp4
          format: mimetype
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserImportResumable'
      responses:
        "201":
          description: created
          headers:
            Location:
              explode: false
              schema:
                format: url
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 0
                type: number
              style: simple
      security:
      - OAuth2: []
      summary: Initialize the resumable user import
      tags:
      - User Imports
    put:
      description: "**PeerTube >= 6.1** Uses [a resumable protocol](https://github.com/kukhariev/node-uploadx/blob/master/proto.md)\
        \ to continue, pause or resume the import of the archive"
      operationId: userImportResumable
      parameters:
      - description: |
          Created session id to proceed with. If you didn't send chunks in the last hour, it is
          not valid anymore and you need to initialize a new upload.
        explode: true
        in: query
        name: upload_id
        required: true
        schema:
          type: string
        style: form
      - description: |
          Specifies the bytes in the file that the request is uploading.

          For example, a value of `bytes 0-262143/1000000` shows that the request is sending the first
          262144 bytes (256 x 1024) in a 2,469,036 byte file.
        explode: false
        in: header
        name: Content-Range
        required: true
        schema:
          example: bytes 0-262143/2469036
          type: string
        style: simple
      - description: |
          Size of the chunk that the request is sending.

          Remember that larger chunks are more efficient. PeerTube's web client uses chunks varying from
          1048576 bytes (~1MB) and increases or reduces size depending on connection health.
        explode: false
        in: header
        name: Content-Length
        required: true
        schema:
          example: 262144
          type: number
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "204":
          description: "last chunk received: successful operation"
        "308":
          description: resume incomplete
          headers:
            Range:
              explode: false
              schema:
                example: bytes=0-262143
                type: string
              style: simple
            Content-Length:
              explode: false
              schema:
                example: 0
                type: number
              style: simple
      security:
      - OAuth2: []
      summary: Send chunk for the resumable user import
      tags:
      - User Imports
  /api/v1/users/{userId}/imports/latest:
    get:
      description: '**PeerTube >= 6.1**'
      operationId: getLatestUserImport
      parameters:
      - description: User id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getLatestUserImport_200_response'
          description: successful operation
      security:
      - OAuth2: []
      summary: Get latest user import
      tags:
      - User Imports
  /api/v1/users/{userId}/exports/request:
    post:
      description: Request an archive of user data. An email is sent when the archive
        is ready.
      operationId: requestUserExport
      parameters:
      - description: User id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/requestUserExport_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestUserExport_200_response'
          description: successful operation
      security:
      - OAuth2: []
      summary: Request user export
      tags:
      - User Exports
  /api/v1/users/{userId}/exports:
    get:
      description: '**PeerTube >= 6.1**'
      operationId: listUserExports
      parameters:
      - description: User id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listUserExports_200_response'
          description: successful operation
      security:
      - OAuth2: []
      summary: List user exports
      tags:
      - User Exports
  /api/v1/users/{userId}/exports/{id}:
    delete:
      description: '**PeerTube >= 6.1**'
      operationId: deleteUserExport
      parameters:
      - description: User id
        explode: false
        in: path
        name: userId
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      - description: Entity id
        explode: false
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/id'
        style: simple
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Delete a user export
      tags:
      - User Exports
  /api/v1/users/me:
    get:
      operationId: getUserInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Get my user information
      tags:
      - My User
    put:
      operationId: putUserInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMe'
        required: true
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Update my user information
      tags:
      - My User
  /api/v1/users/me/videos/comments:
    get:
      description: '**PeerTube >= 6.2**'
      parameters:
      - description: "Plain text search, applied to various parts of the model depending\
          \ on endpoint"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Filter comments by searching on the account
        explode: true
        in: query
        name: searchAccount
        required: false
        schema:
          type: string
        style: form
      - description: Filter comments by searching on the video
        explode: true
        in: query
        name: searchVideo
        required: false
        schema:
          type: string
        style: form
      - description: Limit results on this specific video
        explode: true
        in: query
        name: videoId
        required: false
        schema:
          type: integer
        style: form
      - description: Limit results on this specific video channel
        explode: true
        in: query
        name: videoChannelId
        required: false
        schema:
          type: integer
        style: form
      - description: '**PeerTube >= 6.2** filter on comments that contain one of these
          automatic tags'
        explode: true
        in: query
        name: autoTagOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsAllOf_parameter'
        style: form
      - description: only display comments that are held for review
        explode: true
        in: query
        name: isHeldForReview
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_users_me_videos_comments_get_200_response'
          description: successful operation
      security:
      - OAuth2: []
      summary: List comments on user's videos
      tags:
      - Video Comments
  /api/v1/users/me/videos/imports:
    get:
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      - description: Filter on import target URL
        explode: true
        in: query
        name: targetUrl
        required: false
        schema:
          type: string
        style: form
      - description: Filter on imports created by a specific channel synchronization
        explode: true
        in: query
        name: videoChannelSyncId
        required: false
        schema:
          type: number
        style: form
      - description: Search in video names
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoImportsList'
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Get video imports of my user
      tags:
      - Videos
      - My User
  /api/v1/users/me/video-quota-used:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_users_me_video_quota_used_get_200_response'
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Get my user used quota
      tags:
      - My User
  /api/v1/users/me/videos/{videoId}/rating:
    get:
      parameters:
      - description: The video id
        explode: false
        in: path
        name: videoId
        required: true
        schema:
          $ref: '#/components/schemas/Video/properties/id'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMeVideoRating'
          description: successful operation
      security:
      - OAuth2: []
      summary: Get rate of my user for a video
      tags:
      - My User
      - Video Rates
  /api/v1/users/me/videos:
    get:
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: List videos of my user
      tags:
      - My User
      - Videos
  /api/v1/users/me/subscriptions:
    get:
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoChannelList'
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Get my user subscriptions
      tags:
      - My Subscriptions
    post:
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  uri: 008a0e54-375d-49d0-8379-143202e24152@video.lqdn.fr
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_subscriptions_post_request'
      responses:
        "200":
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Add subscription to my user
      tags:
      - My Subscriptions
  /api/v1/users/me/subscriptions/exist:
    get:
      parameters:
      - description: list of uris to check if each is part of the user subscriptions
        explode: true
        in: query
        name: uris
        required: true
        schema:
          items:
            format: uri
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Get if subscriptions exist for my user
      tags:
      - My Subscriptions
  /api/v1/users/me/subscriptions/videos:
    get:
      parameters:
      - description: "category id of the video (see [/videos/categories](#operation/getCategories))"
        explode: true
        in: query
        name: categoryOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_categoryOneOf_parameter'
        style: form
      - description: whether or not the video is a live
        explode: true
        in: query
        name: isLive
        required: false
        schema:
          type: boolean
        style: form
      - description: tag(s) of the video
        explode: true
        in: query
        name: tagsOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsOneOf_parameter'
        style: form
      - description: "tag(s) of the video, where all should be present in the video"
        explode: true
        in: query
        name: tagsAllOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsAllOf_parameter'
        style: form
      - description: "licence id of the video (see [/videos/licences](#operation/getLicences))"
        explode: true
        in: query
        name: licenceOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_licenceOneOf_parameter'
        style: form
      - description: "language id of the video (see [/videos/languages](#operation/getLanguages)).\
          \ Use `_unknown` to filter on videos that don't have a video language"
        explode: true
        in: query
        name: languageOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_languageOneOf_parameter'
        style: form
      - description: '**PeerTube >= 6.2** **Admins and moderators only** filter on
          videos that contain one of these automatic tags'
        explode: true
        in: query
        name: autoTagOneOf
        required: false
        schema:
          $ref: '#/components/schemas/getAccountVideos_tagsAllOf_parameter'
        style: form
      - description: "whether to include nsfw videos, if any"
        explode: true
        in: query
        name: nsfw
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: '**PeerTube >= 4.0** Display only local or remote objects'
        explode: true
        in: query
        name: isLocal
        required: false
        schema:
          type: boolean
        style: form
      - description: |
          **PeerTube >= 4.0** Include additional videos in results (can be combined using bitwise or operator)
          - `0` NONE
          - `1` NOT_PUBLISHED_STATE
          - `2` BLACKLISTED
          - `4` BLOCKED_OWNER
          - `8` FILES
          - `16` CAPTIONS
          - `32` VIDEO SOURCE
        explode: true
        in: query
        name: include
        required: false
        schema:
          enum:
          - 0
          - 1
          - 2
          - 4
          - 8
          - 16
          - 32
          type: integer
        style: form
      - description: '**PeerTube >= 4.0** Display only videos in this specific privacy/privacies'
        explode: true
        in: query
        name: privacyOneOf
        required: false
        schema:
          $ref: '#/components/schemas/VideoPrivacySet'
        style: form
      - description: '**PeerTube >= 4.0** Display only videos that have HLS files'
        explode: true
        in: query
        name: hasHLSFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: '**PeerTube >= 6.0** Display only videos that have Web Video
          files'
        explode: true
        in: query
        name: hasWebVideoFiles
        required: false
        schema:
          type: boolean
        style: form
      - description: if you don't need the `total` in the response
        explode: true
        in: query
        name: skipCount
        required: false
        schema:
          default: "false"
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          description: |
            Sort videos by criteria (prefixing with `-` means `DESC` order):
              * `hot` - Adaptation of Reddit "hot" algorithm taking into account video views, likes, dislikes and comments and publication date
              * `best` - Same than `hot`, but also takes into account user video history
              * `trending` - Sort videos by recent views ("recent" is defined by the admin)
              * `views` - Sort videos using their `views` counter
              * `publishedAt` - Sort by video publication date (when it became publicly available)
          enum:
          - name
          - -duration
          - -createdAt
          - -publishedAt
          - -views
          - -likes
          - -trending
          - -hot
          - -best
          type: string
        style: form
      - description: Whether or not to exclude videos that are in the user's video
          history
        explode: true
        in: query
        name: excludeAlreadyWatched
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: List videos of subscriptions of my user
      tags:
      - My Subscriptions
      - Videos
  /api/v1/users/me/subscriptions/{subscriptionHandle}:
    delete:
      parameters:
      - description: The subscription handle
        explode: false
        in: path
        name: subscriptionHandle
        required: true
        schema:
          example: my_username | my_username@example.com
          type: string
        style: simple
      responses:
        "200":
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Delete subscription of my user
      tags:
      - My Subscriptions
    get:
      parameters:
      - description: The subscription handle
        explode: false
        in: path
        name: subscriptionHandle
        required: true
        schema:
          example: my_username | my_username@example.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoChannel'
          description: successful operation
      security:
      - OAuth2:
        - user
      summary: Get subscription of my user
      tags:
      - My Subscriptions
  /api/v1/users/me/notifications:
    get:
      parameters:
      - description: only list unread notifications
        explode: true
        in: query
        name: unread
        required: false
        schema:
          type: boolean
        style: form
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Sort column
        explode: true
        in: query
        name: sort
        required: false
        schema:
          example: -createdAt
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
          description: successful operation
      security:
      - OAuth2: []
      summary: List my notifications
      tags:
      - My Notifications
  /api/v1/users/me/notifications/read:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_notifications_read_post_request'
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Mark notifications as read by their id
      tags:
      - My Notifications
  /api/v1/users/me/notifications/read-all:
    post:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Mark all my notification as read
      tags:
      - My Notifications
  /api/v1/users/me/notification-settings:
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_notification_settings_put_request'
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Update my notification settings
      tags:
      - My Notifications
  /api/v1/users/me/history/videos:
    get:
      parameters:
      - description: Offset used to paginate results
        explode: true
        in: query
        name: start
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 15
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "Plain text search, applied to various parts of the model depending\
          \ on endpoint"
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoListResponse'
          description: successful operation
      security:
      - OAuth2: []
      summary: List watched videos history
      tags:
      - My History
  /api/v1/users/me/history/videos/{videoId}:
    delete:
      parameters:
      - explode: false
        in: path
        name: videoId
        required: true
        schema:
          $ref: '#/components/schemas/Video/properties/id'
        style: simple
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Delete history element
      tags:
      - My History
  /api/v1/users/me/history/videos/remove:
    post:
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_history_videos_remove_post_request'
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Clear video history
      tags:
      - My History
  /api/v1/users/me/avatar/pick:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              avatarfile:
                contentType: "image/png, image/jpeg"
                style: form
            schema:
              $ref: '#/components/schemas/_api_v1_users_me_avatar_pick_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v1_users_me_avatar_pick_post_200_response'
          description: successful operation
        "413":
          description: image file too large
          headers:
            X-File-Maximum-Size:
              description: Maximum file size for the avatar
              explode: false
              schema:
                format: Nginx size
                type: string
              style: simple
      security:
      - OAuth2: []
      summary: Update my user avatar
      tags:
      - My User
  /api/v1/users/me/avatar:
    delete:
      responses:
        "204":
          description: successful operation
      security:
      - OAuth2: []
      summary: Delete my avatar
      tags:
      - My User
  /api/v1/users/register:
    post:
      description: Signup has to be enabled and signup approval is not required
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUser'
        required: true
      responses:
        "204":
          description: successful operation
        "400":
          description: request error
        "403":
          description: "user registration is not enabled, user limit is reached, registration\
            \ is not allowed for the ip, requires approval or blocked by a plugin"
        "409":
          description: "a user with this username, channel name or email already exists"
      summary: Register a user
      tags:
      - Register
  /api/v1/users/registrations/request:
    post:
      description: Signup has to be enabled and require approval on the instance
      operationId: requestRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegistrationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegistration'
          description: successful operation
        "400":
          description: request error or signup approval is not enabled on the instance
        "403":
          description: "user registration is not enabled, user limit is reached, registration\
            \ is not allowed for the ip or blocked by a plugin"
        "409":
          description: "a user or registration with this username, channel name or\
            \ email already exists"
      summary: Request registration
      tags:
[...]
